<template>
  <div class="about">
    <h1>This is an about page</h1>
    <h2>{{ info.data }}</h2>
  </div>
</template>

<!--add script-->
<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: ''
    }
  },
  mounted () {
    if (this.$store.state.user) {
      const jwt = this.$store.state.user.getSignInUserSession().getIdToken().getJwtToken();

      const config = {
        headers: {
          authorization: jwt
        }
      }
      axios.get('https://yaokan.auth.ap-southeast-1.amazoncognito.com', config).then(val => this.info = val).catch(err => console.log(err))
    }
  }
}
</script>
