<template>
  <div class="addCompany">
    <router-link to="/tablePage">Back</router-link>
    <h1>Company Details</h1><br>
    <form class="listForm" v-on:submit.prevent="handleSubmit">
      <label>Ref No :</label>
      <input
        ref="first"
        type="text"
        :class="{ 'has-error': submitting && invalidNo }"
        v-model="company.no"
        @focus="clearStatus"
      ><br>
      <label>Company Name :</label>
      <input
        type="text"
        :class="{ 'has-error': submitting && invalidEmail }"
        v-model="company.email"
        @focus="clearStatus"
      ><br>
      <label>Address :</label>
      <input
        type="text"
        :class="{ 'has-error': submitting && invalidAddress }"
        v-model="company.address"
        @focus="clearStatus"
      ><br>
      <label>Status :</label>
      <select v-model="company.status">
        <option disabled value="">Select</option>
        <option>Interested</option>
        <option>Not Interested</option>
      </select>
      <br>
      <label>Contact :</label>
      <input
        type="text"
        :class="{ 'has-error': submitting && invalidContact }"
        v-model="company.contact"
        @focus="clearStatus"
      ><br>
      <label>Name :</label>
      <input
        type="text"
        :class="{ 'has-error': submitting && invalidName }"
        v-model="company.name"
        @focus="clearStatus"
      ><br>
      <p v-if="error && submitting" class="error-message">Please fill out all required fields</p>
      <p v-if="success" class="success-message">Employee successfully added</p>
      <button>Save Details</button><br>
      <label>Comments</label><br>
      <textarea id="comments"
        rows="6"
        cols="70"
        v-model="company.comments"
      ></textarea>
    </form>
  </div>
</template>

<script>
export default {
  name: 'addCompany',
  data () {
    return {
      error: false,
      submitting: false,
      success: false,
      company: {
        no: '',
        email: '',
        contact: '',
        name: '',
        address: '',
        status: ''
      }
    }
  },
  computed: {
    invalidEmail () {
      return this.company.email === ''
    },
    invalidContact () {
      return this.company.contact === ''
    },
    invalidName () {
      return this.company.name === ''
    },
    invalidAddress () {
      return this.company.address === ''
    }
  },
  methods: {
    handleSubmit () {
      this.clearStatus()
      this.submitting = true
      if (this.invalidEmail || this.invalidContact || this.invalidName || this.invalidAddress) {
        this.error = true
        return
      }
      this.$emit('add:company', this.company)
      this.$refs.first.focus()
      this.company = {
        no: '',
        email: '',
        contact: '',
        name: '',
        address: '',
        status: ''
      }
      this.success = true
      this.error = false
      this.submitting = false
    },
    clearStatus () {
      this.success = false
      this.error = false
    }
  }
}
</script>

<!--style scoped>
form {
  margin-bottom: 2rem;
}
[class*="-message"] {
  font-weight: 500;
}
.error-message {
  color: #d33c40;
}
.success-message {
  color: #32a95d;
}
</style-->
<style scoped>
.refNo {
  height: 500px;
}
.addCompany {
  text-align: left;
  text-decoration-color: #7781A9;
}
.button {
  background-color: #5F62B1;
  border-radius: 12px;
  opacity: 1;
}
[class*="-message"] {
  font-weight: 500;
}
.error-message {
  color: #d33c40;
}
.success-message {
  color: #32a95d;
}
</style>
