<template>
  <div class="dataTable">
    <h1>Companies</h1>
    <router-link to="/addPage" text-align="right">Add Company</router-link>
    <v-client-table
      :data="tableData"
      :columns="columns"
      :options="options">
    </v-client-table>
  </div>
</template>

<script>
export default {
  name: 'dataTable',
  props: ['company'],
  data () {
    return {
      columns: ['refNo', 'companyName', 'contact', 'name', 'status', 'address'],
      tableData: [],
      options: {
        headings: {
          refNo: 'Ref No.',
          companyName: 'Company Name',
          contact: 'Contact',
          name: 'Name',
          status: 'Status',
          address: 'Address'
        }
      }
    }
  },
  mounted () {
    /* this.axios.get('./components/AddCompany.vue').then(result => { // http://localhost:4000
      this.tableData = result.data
    }) */
    if (this.axios.get('./components/AddCompany.vue')) {
      this.tableData = this.company
    }
  }
}
</script>

<style>
#app {
  width: 95%;
  margin-top: 50px;
}
.VuePagination {
  text-align: center;
}
.vue-title {
  text-align: center;
  margin-bottom: 10px;
}
.vue-pagination-ad {
  text-align: center;
}
.glyphicon.glyphicon-eye-open {
  width: 16px;
  display: block;
  margin: 0 auto;
}
th:nth-child(3) {
  text-align: center;
}
.VueTables__child-row-toggler {
  width: 16px;
  height: 16px;
  line-height: 16px;
  display: block;
  margin: auto;
  text-align: center;
}
.VueTables__child-row-toggler--closed::before {
  content: "+";
}
.VueTables__child-row-toggler--open::before {
  content: "+";
}
.dataTable {
  text-align: left;
}
</style>
